# Proyectos antiguos ignorados
FlightReservation.Api
FlightReservation.Application
FlightReservation.Domain
FlightReservation.Infrastructure
FlightReservation.sln

## Compilación de .NET (MÁS ESPECÍFICO)
**/bin/
**/obj/
**/**/bin/
**/**/obj/
[Ll]og/
*.user
*.suo
*.userosscache
*.sln.docstates

## Bases de datos SQLite
*.db
*.db-shm
*.db-wal
eventlogistics.db
EventLogistics.db

## Archivos generados automáticamente por .NET
**/*.AssemblyInfo.cs
**/*.AssemblyInfoInputs.cache
**/*.csproj.AssemblyReference.cache
**/*.GeneratedMSBuildEditorConfig.editorconfig
**/*.GlobalUsings.g.cs
**/*.assets.json
**/*.csproj.nuget.dgspec.json
**/*.csproj.nuget.g.props
**/*.csproj.nuget.g.targets

## Archivos de configuración y dependencias
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets

## Paquetes NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
*.psmdcp

## Archivos de configuración de Rider y VS Code
.idea/
.vscode/
.vs/
*.code-workspace

## Archivos de publicación y temporales
*.publish.xml
*.swp